
<section class="cart-products p-3">
  <div class="container d-flex">
    <i class="cart-products__icon fas fa-shopping-basket mr-3"></i>

    <div class="w-100 d-flex flex-wrap align-items-center">
      <ng-container *ngIf="(cartProducts$ | async).length; else noProducts">
        <div>
          <sh-cart-list
            class="d-flex flex-wrap"
            [cartProducts]="cartProducts$ | async"
            (delete)="onDeleteProductFromCart($event)"
            (changeCount)="onChangeCount($event)"
          ></sh-cart-list>

          <div class="d-flex align-items-center mt-3">
            <span *ngIf="(totalCount$ | async) as totalCount">
              You are selected <span class="text-warning">{{ totalCount }}
              item<ng-container *ngIf="totalCount > 1">s</ng-container></span>
            </span>

            <span class="mx-4">
              Total amount: <span class="text-warning"> {{ totalAmount$ | async  | currency }}</span>
            </span>

            <button
              class="btn btn-primary btn-sm float-right"
              (click)="onClear()"
            >Clear all</button>
          </div>
        </div>
      </ng-container>
      <ng-template #noProducts>
        <i class="d-block text-center"
           color="darkslategrey"
           shPretty
        >
          Your card is empty.
        </i>
      </ng-template>
      </div>
    </div>
</section>
