
<section class="cart-products p-3 container-fluid">
  <div class="px-5" *ngIf="cartProducts$ | async as cartProducts">
    <ng-container *ngIf="cartProducts.length; else noProducts">
      <div>
        <sh-select
          label="Order by:"
          [initial]="orderBy.field"
          [options]="productOptions"
          (selected)="onFieldNameChanged($event)"
          class="mr-3 d-inline-block"></sh-select>

        <sh-select
          [initial]="OrderType.DESC"
          [options]="orderByOptions"
          (selected)="onOrderByChanged($event)"
          class="d-inline-block"></sh-select>
      </div>

      <sh-cart-list
        class="d-flex flex-wrap flex-grow-1 mb-5"
        [cartProducts]="cartProducts | shOrderBy : orderBy.field : orderBy.desc"
        (delete)="onDeleteProductFromCart($event)"
        (changeCount)="onChangeCount($event)"
      ></sh-cart-list>

      <div class="my-3 text-right">
        <span  class="mx-4" *ngIf="(totalCount$ | async) as totalCount">
          You are selected
          <span class="text-warning">
            {{ totalCount | i18nPlural : itemPluralMapping }}
          </span>
        </span>

        <span>
          Total amount: <span class="text-warning"> {{ totalAmount$ | async  | currency }}</span>
        </span>
      </div>

      <div class="d-flex justify-content-end">
        <button
          class="btn btn-primary btn-sm mr-3"
          (click)="onClear()"
        >Clear all</button>

        <button
          class="btn btn-info btn-sm"
          title="Only for authorized users"
          [disabled]="(userId$ | async) === null"
          (click)="onCreateOrder()"
        >Create order</button>
      </div>
    </ng-container>

    <ng-template #noProducts>
      <i class="d-block text-center w-100"
         color="darkslategrey"
         shPretty
      >
        Your card is empty.
      </i>
    </ng-template>
    </div>
</section>
