<form
  class="login-form m-auto"
  [formGroup]="loginForm"
  (submit)="submit($event, loginForm.value)"
>
  <h3 class="mb-4">Login</h3>
  <div class="form-group">
    <label for="name">Your name</label>
    <input
      class="form-control" id="name" placeholder="Enter name"
      formControlName="login"
      [ngClass]="checkValidity('login')"
    >
    <div
      class="invalid-feedback"
      *ngIf="serverErrors['login']"
    >{{ serverErrors['login'] }}</div>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input
      type="password" class="form-control" id="password" placeholder="Password"
      formControlName="password"
      [ngClass]="checkValidity('password')"
    >
    <div
      class="invalid-feedback"
      *ngIf="serverErrors['password']"
    >{{ serverErrors['password'] }}</div>
  </div>

  <button
    type="submit" class="btn btn-primary float-right"
    [disabled]="loginForm.invalid"
  >Submit</button>
</form>

