<div
  class="cart-item badge badge-dark pt-1 pb-2 px-3"
  shHighlight
>
  <div class="d-flex align-items-center">
    {{ product.name }}
    <span class="text-warning ml-1">({{ product.price | currency }})</span>

    <button
      class="btn btn-link btn-sm cart-item__delete-btn p-0 ml-3"
      (click)="onDelete()">
      <i class="fas fa-times text-danger"></i>
    </button>
  </div>

  <div class="d-flex justify-content-start align-items-center mt-1">
    <button
      class="btn btn-warning btn-sm cart-item__count-btn mr-1"
      [disabled]="product.count === 0"
      (click)="onDecreaseCount(product.count)">
      <i class="fas fa-minus"></i>
    </button>
    {{ product.count || 1 }}
    <button
      class="btn btn-warning btn-sm cart-item__count-btn ml-1"
      (click)="onIncreaseCount(product.count)">
      <i class="fas fa-plus"></i>
    </button>
  </div>
</div>
